@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url(DroidSansMono.ttf) format('truetype');
}

@font-face {
  font-family: 'Junction';
  font-style: normal;
  font-weight: 400;
  src: url(Junction.woff) format('woff');
}

@font-face {
  font-family: 'LeagueGothic';
  font-style: normal;
  font-weight: 400;
  src: url(LeagueGothic.woff) format('woff');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url(Lobster.woff) format('woff');
}

body{
  font-family: 'Roboto Cn';
  color: #0B486B;
}

#preso .slide {
  background-color: #A8DBA8;
}

.content > pre,
.content > pre > code{
  font-size: 1.5em;
  font-family: 'Droid Sans Mono';
  line-height: 1.0em;
  background-color: #fff;
  border: 2px solid #999;
}

.content > pre > code{
  font-size: 1em;
  border: none;
}

pre.sh_sourceCode .sh_regexp{
  font-family: 'Droid Sans Mono';
  color: blue;
}

pre.sh_sourceCode .sh_string{
  font-family: 'Droid Sans Mono';
  color: red;
}

h1 {
  font-family: 'Lobster'
}

dl {
  font-size: 3em;
  text-align: center;
}

dt {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Lobster';
}

dd {
  margin-bottom: 1.5em;

}

.content > blockquote {
  font-family: 'Roboto Cn';
  font-style: italic;
  text-align: center;
  font-size: 3.4em;
}

.content.command > p {
  font-family: 'Droid Sans Mono';
  font-size: 4em;
}

.content.center > p {
  margin: 0;
}

.content.center > p > img {
  top: 0;
  left: 0;
  margin: 0;
  height: 768px;
  width: 1024px;
}

img.enlarginate {
  position: absolute;
  top: 0; left: 0;
  width: 1024px;
  height: 768px;
}

.content > p > img {
  margin-top: -270px;
}

.content > p > img[title=notbad] {
  margin-top: -40px;
}
